<%- include('./partials/head') %>

<a href="/">Back</a>

<h2><%= person.name %></h2>

<p>Squad: <%= person.squad_id %>

<h2>Squads</h2>
<ul>
  <% squads.forEach(squad => { %>
  <li>Squad <%= squad.name %>, id <%= squad.id %>, tribe_id <%= squad.tribe_id %></li>
  <% }) %>
</ul>

<%- include('./partials/foot') %>